.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    background-color: var(--secondary-color);
}

.mine_bar {
    width: 100%;
    height: 10%;
    background-color: var(--tertiary-color);
}

.main_footer {
    width: 100%;
    height: 95%;
}

.footer_text {
    display: flex;
    width: 100%;
    height: 85%;
}

.footer_desc {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
}

.footer_desc h4 {
    font-size: 30px;
    margin: 10px;
}

.footer_desc p {
    font-size: 20px;
    text-align: justify;
}

.footer_lorem {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
}

.footer_lorem h4 {
    font-size: 30px;
    margin: 10px;
}

.footer_lorem p {
    font-size: 20px;
    text-align: justify;
}

.footer_cc {
    display: flex;
    width: 100%;
    height: 15%;
    padding: 20px;
    justify-content: flex-end;
    align-items: center;
}

.footer_cc p {
    font-size: 20px;
}