/* Global */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: black;
}

body{
    background-color: purple;
}

.container_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 800px;
    background-color: white;
    border: 1px solid black;
}

.header_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 100px;
    background-color: rgb(29, 200, 59);
}

.edit{
    color: rgb(56, 19, 224);
    align-self: center;
}

.delete{
    color: brown;
    align-self: center;
}

.id{align-self: center;}
.ni{align-self: center;}
.nome{align-self: center;}
.email{align-self: center;}
.tel{align-self: center;}
.ocupacao{align-self: center;}

.lista{
    display: flex;
    justify-content: space-around;
    width: 1000px;
    height: 50px;
    margin-top: 20px;
    background-color: gray;
}

.flex_footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 400px;
    width: 1000px;
    height: 100px;
    background-color: darkblue;
    position: relative;
}

.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 10px;
}

.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 10px;
}

.pesquisar input{
    width: 200px;
    height: 30px;
    border: none;
    padding: 10px;
    border-radius: 10px;
}