* {
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Paleta de Cores 
#1DB954(Verde),
#212121(preto mais claro),
#121212(preto mais escuro),
#535353(cinza),
#B3B3B3(cinza claro)
 */

body {
    background-color: #121212;
}

.header_container {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    margin-top: 10px;
}

.header_navigation {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 40%;
    gap: 10px;

    i {
        font-size: 30px;
    }
}

.header_search {
    display: flex;
    width: 50%;
    gap: 20px;
}

.header_search .icon_home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5%;
    border-radius: 50%;
    background-color: #212121;

    i {
        font-size: 25px;
    }
}

.header_container .search-container {
    display: flex;
    width: 55%;
}

.input-group-text {
    border: none;
    background-color: #212121;
    border-radius: 50%;

    i {
        font-size: 25px;
    }
}

.search-bar {
    width: 79%;
    padding: 10px;
    border: none;
    background-color: #212121;
}

.header_user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    gap: 50px;
    width: 20%;

    i {
        font-size: 20px;
    }
}

.user_profile {
    i {
        font-size: 40px;
    }
}

.home_container {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 900px;
    padding: 5px;
    justify-content: space-between;
}

.home_container .side_bar {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    border-radius: 15px;
}

.home_container .main_container {
    background-color: #212121;
    width: 74.5%;
    border-radius: 15px;
}

.nav_library {
    height: 100%;
    border-radius: 15px;
}

.library_header {
    display: flex;
    width: 100%;
    height: 5%;
    padding: 15px 10px;
    justify-content: space-between;
}

.library_logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    margin-top: 10px;
    padding: 5px;
    gap: 5px;
}

.library_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    i {
        font-size: 25px;
    }
}

.libray_text {
    display: flex;
    justify-content: flex-start;
    width: 100px;
    height: 30px;
}

.create_button {
    display: flex;
    align-items: center;
    width: 20%;
    height: 40px;
    background-color: #535353;
    border-radius: 50px;
    padding: 5px;
    justify-content: space-between;
}

.create_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #535353;
    border-radius: 50%;
}

.create_icon i {
    font-size: 20px;
    color: white;
}

.create_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.create_text p {
    margin: 0;
    color: white;
    font-size: 16px;
}

.side_lessons {
    padding: 5px;
    width: 100%;
    height: 90%;
}

.lessons_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
    margin-top: 15px;
}

.lessons_container:hover {
    background-color: #535353;
    border-radius: 15px;
}

.lessons_img {
    width: 25%;
    height: 100%;
    padding: 10px;
}

.lessons_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lessons_info{
    width: 75%;
    height: 100%;
}

.lesson_title{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 50%;
    padding: 10px;
}

.lesson_title p {
    text-align: start;
    font-size: 25px;
    margin: 0 auto 0 0;
}

.lesson_desc{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 50%;
    padding: 10px;
}

.lesson_desc p {
    text-align: start;
    font-size: 15px;
    margin: 0 auto 0 0;
}